In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
dataset = pd.read_csv("Car_details.csv")
dataset.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0
7,Maruti 800 DX BSII,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0

In [3]:
dataset.shape

(8128, 13)

In [4]:
dataset.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [5]:
(dataset.isnull().sum()/dataset.shape[0]) *100

name             0.000000
year             0.000000
selling_price    0.000000
km_driven        0.000000
fuel             0.000000
seller_type      0.000000
transmission     0.000000
owner            0.000000
mileage          2.718996
engine           2.718996
max_power        2.645177
torque           2.731299
seats            2.718996
dtype: float64

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [7]:
df2 = dataset.drop(columns=["engine",	"max_power", "torque", "seats", "seller_type"])

In [8]:
df2

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Manual,First Owner,23.4 kmpl
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Manual,Second Owner,21.14 kmpl
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Manual,Third Owner,17.7 kmpl
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Manual,First Owner,23.0 kmpl
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Manual,First Owner,16.1 kmpl
...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Manual,First Owner,18.5 kmpl
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Manual,Fourth & Above Owner,16.8 kmpl
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Manual,First Owner,19.3 kmpl
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Manual,First Owner,23.57 kmpl
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Manual,First Owner,23.57 kmpl

In [9]:
df2['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [10]:
df2 = df2[~(df2["km_driven"]/(2021-df2["year"])>60000)]

In [11]:
df3 = df2[dataset["owner"] != "Test Drive Car"]

C:\Users\gkans\AppData\Local\Temp\ipykernel_18756\3494939908.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df2[dataset["owner"] != "Test Drive Car"]

In [12]:
df3['transmission'].value_counts()

transmission
Manual       7069
Automatic    1046
Name: count, dtype: int64

In [13]:
len(df3["name"].unique())

2052

In [14]:
df3['fuel'].value_counts()

fuel
Diesel    4399
Petrol    3621
CNG         57
LPG         38
Name: count, dtype: int64

In [15]:
df3.duplicated().sum()

np.int64(1202)

In [16]:
df4 = df3.drop_duplicates()

In [17]:
df4.duplicated().sum()

np.int64(0)

In [18]:
df4.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
transmission       0
owner              0
mileage          208
dtype: int64

In [19]:
# Check if the 'mileage' column is not null and split the first part
df4['mileage'] = df4['mileage'].apply(lambda x: x.split(" ")[0] if pd.notnull(x) else x)

C:\Users\gkans\AppData\Local\Temp\ipykernel_18756\3714170170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['mileage'] = df4['mileage'].apply(lambda x: x.split(" ")[0] if pd.notnull(x) else x)

In [20]:
df4['mileage'] = df4['mileage'].apply(lambda x: float(x) if pd.notnull(x) else x)

C:\Users\gkans\AppData\Local\Temp\ipykernel_18756\3182489991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['mileage'] = df4['mileage'].apply(lambda x: float(x) if pd.notnull(x) else x)

In [21]:
df4.shape

(6913, 8)

In [22]:
# Remove rows where 'mileage' is less than 9, but keep NaN values
df5 = df4[(df4['mileage'] >= 9) | (df4['mileage'].isnull())]

In [23]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6898 entries, 0 to 8125
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6898 non-null   object
 1   year           6898 non-null   int64
 2   selling_price  6898 non-null   int64
 3   km_driven      6898 non-null   int64
 4   fuel           6898 non-null   object
 5   transmission   6898 non-null   object
 6   owner          6898 non-null   object
 7   mileage        6690 non-null   float64
dtypes: float64(1), int64(3), object(4)
memory usage: 485.0+ KB

In [24]:
df5['mileage'] = df5['mileage'].fillna(df5['mileage'].mean())

C:\Users\gkans\AppData\Local\Temp\ipykernel_18756\3272302041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['mileage'] = df5['mileage'].fillna(df5['mileage'].mean())

In [25]:
df5.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
transmission     0
owner            0
mileage          0
dtype: int64

In [26]:
df5.describe()

              year  selling_price      km_driven      mileage
count  6898.000000   6.898000e+03    6898.000000  6898.000000
mean   2013.413888   5.141496e+05   73519.508988    19.511043
std       4.074473   5.048842e+05   48578.548795     3.888731
min    1983.000000   2.999900e+04       1.000000     9.000000
25%    2011.000000   2.500000e+05   40000.000000    17.000000
50%    2014.000000   4.000000e+05   70000.000000    19.511043
75%    2017.000000   6.300000e+05  100000.000000    22.320000
max    2020.000000   1.000000e+07  577414.000000    42.000000

In [27]:
# Remove rows where both conditions are satisfied
df6 = df5[~((df5['km_driven'] < 10000) & (df5['year'] < 2012))]
df6.shape

(6893, 8)

In [28]:
df7 = df6.drop(columns=["owner"])

In [29]:
df7.head()

,name,year,selling_price,km_driven,fuel,transmission,mileage
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Manual,23.40
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Manual,21.14
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Manual,17.70
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Manual,23.00
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Manual,16.10

In [30]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6893 entries, 0 to 8125
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6893 non-null   object
 1   year           6893 non-null   int64
 2   selling_price  6893 non-null   int64
 3   km_driven      6893 non-null   int64
 4   fuel           6893 non-null   object
 5   transmission   6893 non-null   object
 6   mileage        6893 non-null   float64
dtypes: float64(1), int64(3), object(3)
memory usage: 430.8+ KB

In [31]:
df7["car_age"] = 2025 - df7["year"] -5

In [32]:
df7["km_driven"] = df7["km_driven"]/10000
df7["selling_price"] = df7["selling_price"]/100000

In [33]:
df7

,name,year,selling_price,km_driven,fuel,transmission,mileage,car_age
0,Maruti Swift Dzire VDI,2014,4.50,14.55,Diesel,Manual,23.40,6
1,Skoda Rapid 1.5 TDI Ambition,2014,3.70,12.00,Diesel,Manual,21.14,6
2,Honda City 2017-2020 EXi,2006,1.58,14.00,Petrol,Manual,17.70,14
3,Hyundai i20 Sportz Diesel,2010,2.25,12.70,Diesel,Manual,23.00,10
4,Maruti Swift VXI BSIII,2007,1.30,12.00,Petrol,Manual,16.10,13
...,...,...,...,...,...,...,...,...
8121,Maruti Wagon R VXI BS IV with ABS,2013,2.60,5.00,Petrol,Manual,18.90,7
8122,Hyundai i20 Magna 1.4 CRDi,2014,4.75,8.00,Diesel,Manual,22.54,6
8123,Hyundai i20 Magna,2013,3.20,11.00,Petrol,Manual,18.50,7
8124,Hyundai Verna CRDi SX,2007,1.35,11.90,Diesel,Manual,16.80,13
8125,Maruti Swift Dzire ZDi,2009,3.82,12.00,Diesel,Manual,19.30,11

In [34]:
df7['name'].value_counts()

name
Maruti Swift Dzire VDI                    118
Maruti Alto 800 LXI                        76
Maruti Alto LXi                            69
Maruti Swift VDI                           60
Maruti Swift VDI BSIV                      56
                                         ...
Tata Indica Vista Aura 1.2 Safire BSIV      1
Maruti Gypsy King Soft Top                  1
Chevrolet Aveo U-VA 1.2 LT                  1
Renault Duster RXZ 110PS AMT BSIV           1
Honda Jazz V Diesel                         1
Name: count, Length: 2039, dtype: int64

In [35]:
# Keep only the first two words in the 'name' column
df7['name'] = df7['name'].str.split().str[:1].str.join(' ').str.lower()

In [36]:
len(df7["name"].unique())

32

In [37]:
dummies_name = pd.get_dummies(df7['name'])
dummies_fuel = pd.get_dummies(df7['fuel'])
dummies_transmission = pd.get_dummies(df7['transmission'])

In [38]:
dummies_fuel.head()

     CNG  Diesel    LPG  Petrol
0  False    True  False   False
1  False    True  False   False
2  False   False  False    True
3  False    True  False   False
4  False   False  False    True

In [39]:
df8 = pd.concat([df7, dummies_name.drop("peugeot", axis="columns"), dummies_fuel.drop("LPG", axis="columns"), dummies_transmission['Automatic']], axis="columns")

In [40]:
df9 = df8.drop(["fuel", "transmission","year", "name"], axis="columns")

In [41]:
df9

,selling_price,km_driven,mileage,car_age,ambassador,ashok,audi,bmw,chevrolet,daewoo,...,renault,skoda,tata,toyota,volkswagen,volvo,CNG,Diesel,Petrol,Automatic
0,4.50,14.55,23.40,6,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,3.70,12.00,21.14,6,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
2,1.58,14.00,17.70,14,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,2.25,12.70,23.00,10,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,1.30,12.00,16.10,13,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8121,2.60,5.00,18.90,7,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8122,4.75,8.00,22.54,6,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
8123,3.20,11.00,18.50,7,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8124,1.35,11.90,16.80,13,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
8125,3.82,12.00,19.30,11,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [42]:
df9.describe()

       selling_price    km_driven      mileage      car_age
count    6893.000000  6893.000000  6893.000000  6893.000000
mean        5.143953     7.356928    19.513036     6.580009
std         5.049795     4.856093     3.888909     4.066609
min         0.299990     0.100000     9.000000     0.000000
25%         2.500000     4.000000    17.000000     3.000000
50%         4.000000     7.000000    19.511043     6.000000
75%         6.310000    10.000000    22.320000     9.000000
max       100.000000    57.741400    42.000000    37.000000

In [43]:
x = df9.drop("selling_price", axis="columns")
y = df9["selling_price"]

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [61]:
lr = LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test, y_test)

0.6667980257875719

In [62]:
from sklearn.ensemble import RandomForestRegressor

In [63]:

rf = RandomForestRegressor()
rf.fit(x_train, y_train)
print(rf.score(x_test, y_test))

0.8660646173671082

In [64]:
from sklearn.model_selection import ShuffleSplit, cross_val_score

In [65]:
cv= ShuffleSplit(n_splits=5, test_size=0.1, random_state= 0)
cross_val_score(RandomForestRegressor(),x,y,cv=cv)

array([0.79020612, 0.85850467, 0.85808507, 0.59875372, 0.73454723])

In [66]:
default_year = df7['year'].mode()[0]
default_km = df7['km_driven'].median()
default_mileage = df7['mileage'].median()
default_name = df7['name'].mode()[0]
default_fuel = df7['fuel'].mode()[0]
default_transmission = df7['transmission'].mode()[0]

def predict_price(
    year=default_year,                # Default to most common year or mode of 'year'
    km=default_km,                 # Default to mode or median of 'km_driven'
    mileage=default_mileage,             # Default to mode or median of 'mileage'
    name=default_name,      # Default to most common name in 'name'
    fuel=default_fuel,            # Default to mode of 'fuel'
    transmission=default_transmission     # Default to mode of 'transmission'
):
    # Convert 'year' to 'car_age' (2025 - year)
    car_age = 2025 - year
    
    input_data = np.zeros(len(x.columns))  # Create a zero array of feature size

    # Handle 'name'
    if name in x.columns:
        name_loc = np.where(x.columns == name)[0][0]
        input_data[name_loc] = 1
    
    # Handle 'fuel'
    if fuel in x.columns:
        fuel_loc = np.where(x.columns == fuel)[0][0]
        input_data[fuel_loc] = 1
    
    # Handle 'transmission'
    if transmission in x.columns:
        transmission_loc = np.where(x.columns == transmission)[0][0]
        input_data[transmission_loc] = 1

    # Fill other numerical fields
    input_data[2] = car_age
    input_data[0] = km
    input_data[1] = mileage

    return rf.predict([input_data])[0]

In [67]:
predict_price()

C:\Users\gkans\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

np.float64(3.797908333333333)

In [68]:
import pickle
with open('car_price_predict_model.pickle', 'wb') as f:
    pickle.dump(rf, f)

In [71]:
import json
columns = {
    "data_columns" : [col.lower() for col in x.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))